.font-1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    transition: .4s ease;
    position: relative;
    margin: 0;
}

/* -------MOD------ */
body {
    overflow-x: hidden;
    align-items: center;
    white-space: nowrap;
    background-color: whitesmoke;
}

header {
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 80px;
    display: flex;
}

button {
    display: flex;
    cursor: pointer;
    padding: 12px 18px;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
}

footer {
    background-color: rgb(10, 14, 70);
}

p {
    align-items: center;
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: black;
}

/* -------CSS CLASS PACAGE------ */
.df {
    display: flex;
    align-items: center;
}

.df-c {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.op {
    opacity: 70%;
}

.op-0 {
    opacity: 100%;
}

.navbar {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-1 {
    background-color: rgb(61, 153, 61);
    color: white;
    border: none;
}

.btn-2 {
    border: 1px solid white;
    background: transparent;
    color: white;
}

.sp-1 {
    color: rgb(58, 197, 58);
}

.gap-1 {
    justify-content: center;
    gap: 5%;
}

/* --------BANNER------ */
.banner {
    background-image: url("./assets/hero-bg.png");
    justify-content: center;
    flex-direction: column;
    padding: 100px 120px;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    line-height: 180%;
    row-gap: 20px;
    color: white;
    display: flex;
}

.offer {
    background-color: white;
    color: greenyellow;
    border-radius: 30px;
    padding: 8px 22px;
}

.offer span {
    box-shadow: 0px 0px 8px rgb(153, 255, 0);
    background-color: greenyellow;
    border-radius: 50%;
    padding: 2px 1px;
    font-size: 10px;
    bottom: 2px;
    right: 6px;
}

.note {
    font-size: 30px;
    line-height: 200%;
}

/* --------DON'T FAIL!-------- */
.fail {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    top: 20px;
    grid-row: auto;
    column-gap: 20px;
    margin: 0px 100px;
}

.card span {
    background-color: rgb(204, 62, 62);
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;
    padding: 5.5px;
    display: flex;
    width: 50px;

}

.card p {
    opacity: 70%;
}

.cr-1,
.cr-2,
.cr-3,
.cr-4 {
    background-color: white;
    flex-direction: column;
    border-radius: 4px;
    padding: 40px 20px;
    display: flex;
    row-gap: 10px;
    height: 230px;
}

/* --------THE SOLUTION-------- */
.slide {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px;
    gap: 40px;
}

.solution {
    flex-direction: column;
    display: flex;
    row-gap: 20px;
}

/* --------READY-------- */
.ready {
    display: flex;
    padding: 100px 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.clearly {
    background-color: rgba(222, 222, 223, 0.658);
    justify-content: center;
    align-items: center;
    padding: 50px 270px;
    border-radius: 18px;
    text-align: center;
}

/* -------FOOTER-LAYOUT------- */
.logo {
    justify-self: left;
    margin-top: 10px;
    gap: 6px;
}

.logo img {
    padding: 4px;
    height: 20px;
    border-radius: 50%;
    background: whitesmoke;
}

.foot {
    padding: 0px 100px;
    padding-top: 100px;
}

.toe-1 {
    color: white;
    padding: 0px 5px;
    justify-content: space-between;
}

.toe-2 {
    border-top: 1px solid rgba(245, 245, 245, 0.658);
    justify-self: center;
    padding: 30px 360px;
    margin-top: 50px;
    color: white;
}

button:hover,
a:hover {
    transform: scale(1.1);
}

.cr-1:hover,
.cr-2:hover,
.cr-3:hover,
.cr-4:hover {
    transform: scale(1.05);
    bottom: 10px;
}

p img:hover {
    transform: scale(1.04);
}

::selection {
    color: crimson;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.288);
}