*{
    font-family: sans-serif;
    box-sizing: border-box;
    transition: .4s ease;
    position: relative;
    margin: 0;
}
body{
    white-space: nowrap;
    overflow-x: hidden;
    align-items: center;
}
header{
    justify-content: space-between;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 10px 80px;
}
button{
    padding:12px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.df{
    display: flex;
    align-items: center;
}
.navbar{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-1{
    background-color: rgb(68, 214, 68);
    color: white;
    border: none;
}
.btn-2{
    border: 1px solid white;
    background: transparent;
    color: white;
}
.banner{
    background-image: url("./assets/hero-bg.png");
    justify-content: center;
    flex-direction: column;
    padding: 100px 120px ;
    align-items: center;
    line-height: 180%;
    text-align:center;
    row-gap: 20px;
    color: white;
    display: flex;
}
.offer{
    background-color: white;
    border-radius: 30px;
    color: greenyellow;
    padding: 8px 30px;
}
.offer span{
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 10px;
    background-color: greenyellow;
    box-shadow:0px 0px 10px greenyellow;
    right: 6px;
    bottom: 2px;
}

.note{
    font-size: 30px;
    line-height: 200%;
}
.sp-1{
    color: rgb(60, 219, 60);
}
.gap-1{
    justify-content: center;
    gap: 5%;
}