*{
    font-family: sans-serif;
    box-sizing: border-box;
    transition: .4s ease;
    position: relative;
    margin: 0;
}
body{
    white-space: nowrap;
    overflow-x: hidden;
    align-items: center;
}
header{
    justify-content: space-between;
    background-color: white;
    align-items: center;
    display: flex;
    padding: 10px 80px;
}
button{
    padding:12px 18px;
}
a{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-1{
    background-color: green;
    border: none;
    color: white;
}